/* my reset css */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: green;
}

.movie {
    height: 500px;
    width: 700px;
    background: #e7f5fe;

    margin-top: 10px;
    border: 10px dashed orange;
    border-radius: 20px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    animation: sky 40s linear 1;

    overflow: hidden;
}
.mount {
    font-size: 130px;
    text-shadow: -20px 0 forestgreen, 25px -3px green;

    position: absolute;
    left: 10px;
    bottom: 0;
    z-index: -4;
}
.grass {
    height: 160px;
    width: 100%;
    background: darkgreen;

    clip-path: polygon(0% 20%, 10% 50%, 23% 15%, 33% 45%, 50% 0%, 75% 35%, 95% 5%, 100% 15%, 100% 100%, 0% 100%);

    position: absolute;
    bottom: 0;
    z-index: -8;
}
.mrange {
    height: 190px;
    width: 100%;
    background: darkblue;

    clip-path: polygon(0% 45%, 9% 10%, 20% 40%, 33% 0%, 50% 40%, 75% 5%, 95% 35%, 100% 15%, 100% 100%, 0% 100%);

    position: absolute;
    bottom: 0;
    z-index: -9;
}

.fa-space-shuttle {
    color: indigo;
    text-shadow: -40px 165px 3px rgba(0, 0, 0, 0.2), 3px 3px orange;

    position: absolute;
    top: 55%;
    left: 0;
    z-index: -3;

    animation: plane 10s linear infinite;
}

.balloon {
    font-size: 36px;
    text-shadow: 5px 5px 5px red;

    position: absolute;
    left: 60%;
    top: 90%;
    z-index: -7;

    animation: balloon 42s 20s infinite;
}

.fa-cloud {
    color: skyblue;
    text-shadow: 15px 15px 20px gray, -2px -2px 5px white;

    position: absolute;
}

.one {
    top: 20%;
    left: -25%;
    animation: cloud 20s linear infinite alternate-reverse;
    z-index: -5;
}
.two {
    top: 40%;
    left: -25%;
    animation: cloud 40s ease-in infinite;
}
.three {
    top: 47%;
    left: 10%;
    /* animation: cloud 60s linear infinite alternate; */
    z-index: -9;
}
.four {
    top: 8%;
    left: 37%;
    /* animation: cloud 110s linear infinite alternate; */
    z-index: -7;
}
.five {
    top: 6%;
    left: 28%;
    /* animation: cloud 180s linear infinite alternate; */
    z-index: -7;
}
.six {
    top: 3%;
    left: -25%;
    animation: cloud 60s linear infinite alternate-reverse;
    z-index: -9;
}

.fa-sun {
    color: orange;
    text-shadow: 5px 5px 10px peru, -5px -5px 10px peru;

    position: absolute;
    top: 15%;
    left: 75%;
    z-index: -11;

    animation: sun 40s linear 1, rotate 60s linear infinite;
}

@keyframes plane {
    from {
        top: 50%;
        left: -20%;
    }
    to {
        top: 20%;
        left: 120%;
    }
}

@keyframes sun {
    from {
        top: 350px;
        left: 22%;
    }
    to {
        top: 15%;
        left: 75%;
    }
    100% {
        transform: rotate(180deg);
    }
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes cloud {
    100% {
        left: 110%;
    }
}

@keyframes sky {
    from {
        background: rgb(57, 57, 173);
    }
    to {
        background: #e7f5fe;
    }
}

@keyframes balloon {
    0% {
        top: 90%;
        left: 60%;
    }
    20% {
        top: 50%;
        left: 35%;
    }
    50% {
        top: 27%;
        left: 50%;
    }
    100% {
        top: -25%;
        left: 80%;
    }
}